
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  background-color: #fff;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 14px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.header__links-list-item:not(.header__links-list-item_no-bullit)::before {
  content: "◦";
  margin-right: 8px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link{
text-decoration: underline;
}

.header__link_active {
text-decoration: none;
}

.header_logo {
display: block;
width: 148px; 
justify-self: center;
}

.header_logo-image {

}

.header__address {
  all: unset;
  max-width: 1100px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.address a {
  display: block;
}

.address__text {
  margin: 0;
  width: 100%;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  min-height: 757px;
  padding: 0 50px 50px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6) ;
  z-index: 1;
}

.cover__title {
  position: relative; 
  z-index: 2;
  text-transform: uppercase ;
  font-size: 100px;
  line-height: 115%;
  margin: 0;
  padding: 0;
}

.aligned-text{
  display: block;
  width: 100%;
}

.aligned-text_left{
text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  
}

.description {
  position: relative;
  z-index: 2;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
word-spacing: 31px;
font-size: 22px;
line-height: 28px;
margin: 0;
text-transform: uppercase;
}

.bet-button {
  appearance: none;
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
}

.lots {
  padding: 180px 24px;
}

.lots__heading {
font-size: 40px;
margin-bottom: 24px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
   background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 24px;
  margin: 0 0 16px 0;
}

.card__text {
  font-size: 16px;
  margin: 0;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 40px;
  color: #000
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 92px 50px 96px 50px;
  background-color: white;
}
.menu_footer {
  

}


.social {
 
}



